---
import GithubCorners from "../components/github-corners.astro";

import diffs from "../../patches.json";

export type Props = {
  title: string;
};

const { title } = Astro.props;
const dates = Object.keys(diffs).sort((a, b) => a.localeCompare(b));
const url = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      property="og:description"
      content="Easily grasp what were changed in TypeScript definitions for Cloudflare Workers."
    />
    <meta property="og:image" content="/ogp-image.png" />
    <meta property="og:site_name" content="Workers Types Diff" />
    <meta property="og:title" content={title} />
    <meta
      property="og:type"
      content={url.pathname === "/" ? "website" : "article"}
    />
    <meta property="og:url" content={url.toString()} />
  </head>
  <body>
    <GithubCorners />
    <div id="container">
      <header>
        <h1>
          <a href="/">Workers Types Diff</a>
        </h1>
      </header>
      <nav>
        Compatibility dates:
        <ul class="navbar">
          {
            dates.map((date) => (
              <li>
                <a href={`/updates/${date}`}>{date}</a>
              </li>
            ))
          }
        </ul>
      </nav>
      <article>
        <slot />
      </article>
      <footer>
        <p>&copy; 2021 Cloudflare Workers DevProd Team, 2023 Yudai Nakata</p>
        <p>
          Workers Types Diff is not affiliated by Cloudflare, Inc. in any way,
          and is just a personal project.
        </p>
      </footer>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --bg-color: #f6f6f6;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--bg-color);
  }
  body {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  body > #container {
    display: grid;
    grid-template:
      "header header " 4em
      "navbar article" 1fr
      "footer footer" 3em / 200px 1fr;
    height: 100vh;
    width: 960px;
  }
  header {
    grid-area: header;
    align-self: center;
  }
  h1 {
    font-size: 1.5em;
  }
  nav {
    grid-area: navbar;
  }
  article {
    grid-area: article;
    place-self: start;
  }
  footer {
    grid-area: footer;
    display: grid;
    place-items: center;
    font-size: 0.9em;
    padding-bottom: 8px;
  }
  footer > p {
    margin: 0;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .astro-code {
    padding: 16px;
    padding-right: 0px;
    border-radius: 8px;
    width: calc(32px + 83ch);
    max-height: 80vh;
    margin: 0px;
  }
  h2 {
    line-height: 1;
  }
  h2:first-child {
    margin-block-start: 0;
  }
  ul.navbar {
    list-style-type: none;
    padding-left: 12px;
  }
  .navbar > li {
    padding-right: 64px;
  }
  .navbar > li > a {
    display: flex;
    align-items: center;
    height: 2em;
    padding: 0 0.5em;
    color: #000000;
    text-decoration: none;
  }
  .navbar > li > a:hover {
    background-color: #dedede;
  }
</style>
